<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599547609689-aobkhslq7h6ti4upuv0mv6gt4lr74dh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599547609689-aobkhslq7h6ti4upuv0mv6gt4lr74dh5</string>
	<key>API_KEY</key>
	<string>AIzaSyBc0KZWTWD_CwjutbRWXL01OeSLVV3T_wE</string>
	<key>GCM_SENDER_ID</key>
	<string>599547609689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoWebMobileApp</string>
	<key>PROJECT_ID</key>
	<string>hack-project-666d7</string>
	<key>STORAGE_BUCKET</key>
	<string>hack-project-666d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599547609689:ios:f6e57442d7e5c3b35b2748</string>
</dict>
</plist>